# since i'm trying to keep this compatible, i decided to keep the database config split, rather than making the brea
# change to switch to the dburl
NODE_ENV= something
DB_HOST= database_host
DB_PORT= "****"
DB_USERNAME= database_username
DB_PASSWORD= "********"
DB_DATABASE= project_database_name
DB_SSL=boolean
PASSWORD_SALT=saltValue

JWT_SECRET=random_secret
JWT_EXPIRES_IN=7h

ALLOWED_ORIGINS="http:domainname.com,http:domainname.com"
